/target/
/.classpath
/.DS_Store
/.project
/addon-bskyblock.iml
/.idea/.gitignore
/bskyblock.iml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
